<a href="https://colab.research.google.com/github/hatchdavid1/dev.f_master_data_science/blob/main/Challenge_data_collect_27_04_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import csv
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
csv_file = open('/content/drive/MyDrive/Códigos_Python/DEV.F/fundamentos_python/master-data-ai-main/Kata Intro to Data Science/DataCollect/data/data-text.csv', 'r')
reader = csv.reader(csv_file)
lst = [row for row in reader]
df = pd.DataFrame(lst, columns=lst[0])
df = df.iloc[1: , :]
df.head()

                           Indicator PUBLISH STATES  Year  ... Low High Comments
1   Life expectancy at birth (years)      Published  1990  ...
2   Life expectancy at birth (years)      Published  2000  ...
3  Life expectancy at age 60 (years)      Published  2012  ...
4  Life expectancy at age 60 (years)      Published  2000  ...
5   Life expectancy at birth (years)      Published  2012  ...

[5 rows x 12 columns]

In [3]:
import json
json_data = open('/content/drive/MyDrive/Códigos_Python/DEV.F/fundamentos_python/master-data-ai-main/Kata Intro to Data Science/DataCollect/data/data-text.json').read()
data = json.loads(json_data)
df_json = pd.DataFrame(data)
df_json.head()

                           Indicator PUBLISH STATES  Year  ... Low High Comments
0   Life expectancy at birth (years)      Published  1990  ...
1   Life expectancy at birth (years)      Published  2000  ...
2  Life expectancy at age 60 (years)      Published  2012  ...
3  Life expectancy at age 60 (years)      Published  2000  ...
4   Life expectancy at birth (years)      Published  2012  ...

[5 rows x 12 columns]