<a href="https://colab.research.google.com/github/hatchdavid1/dev.f_master_data_science/blob/main/kulstera_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
e = pd.read_csv('/content/drive/MyDrive/Códigos_Python/DEV.F/klustera/e.csv')
v = pd.read_csv('/content/drive/MyDrive/Códigos_Python/DEV.F/klustera/v.csv')
e.drop(columns = ['Unnamed: 0'], inplace = True)
v.drop(columns = ['Unnamed: 0'], inplace = True )

In [ ]:
e.head()

          device_mac  branch_office  month_tz  ...  hour_tz visitor  tiempodeses
0  00:00:00:6a:17:ce              1        11  ...        0    True         2676
1  00:00:00:6a:17:ce              1        11  ...        1    True         2676
2  00:00:00:6a:78:ae              1        10  ...       20   False            0
3  00:00:02:fa:9c:12              1        11  ...       12    True         2272
4  00:00:08:7d:e2:58              3        11  ...       19   False            0

[5 rows x 8 columns]

In [ ]:
v.head()

          device_mac  branch_office  ...  hour_tz  tiempodeses
0  a8:81:95:56:31:3c              1  ...        4            0
1  44:6e:e5:1b:68:81              3  ...       22          477
2  0c:b3:19:10:78:17              3  ...       10            0
3  44:74:6c:0a:20:23              3  ...       21            0
4  ac:5f:3e:c8:dc:35              1  ...       16            0

[5 rows x 7 columns]

In [ ]:
# Preguntas para resolver la problemática 
#Filtrar por visitantes = True | agrupando por día | colapsando por tiempodeses
#Comprobar si los meses en ambos datasets son los mismos
#Qué sucursal es la más visitada y en qué día ocurre el mayor número de visitas 
#Qué sucursal tiene mayor permanencia por día